{% extends 'panel/basepanel.html' %}
{% block content %}
<main>

    <div class="container-fluid">
        <h1 class="mt-4">Camera</h1>


        <div class="row">
            <div class="col-xl-3 col-md-6">

                <a href="{% url 'panel_cameraadd' %}" class="btn btn-primary">Add Camera</a>
            <br/>
            </div>

        </div>

        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Cameras</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Camera ID</th>
                            <th>Local IP</th>
                            <th>Port</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for d in datatable %}
                        <tr>

                            <td>{{ forloop.counter }}</td>
                            <td>{{d.camera_id}}</td>
                            <td>{{d.local_ip}}</td>
                            <td>{{d.port}}</td>
                            <td>

                                <form method="post">{% csrf_token %}
                                    <input type="text" hidden value="{{d.id}}"/>
                                    <a href="{% url 'panel_cameraedit' id=d.id %}" class="btn btn-primary">Edit</a>
                                    <input type="submit" name="action" value="delete" class="btn btn-danger"/>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}