<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Camera streaming configuration panel"/>
    <meta name="author" content="epsumlabs"/>
    <title>Camera Configuration - Epsum Things</title>
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet"/>
    <script src="{% static 'assets/js/fontawesome.js' %}" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                            <div class="card-body">
                                <form method="post">{% csrf_token %}
                                    <div class="form-group"><label class="small mb-1"
                                                                   for="inputEmailAddress">Username</label><input
                                            name="username" class="form-control py-4" id="inputEmailAddress" type="text"
                                            placeholder="Enter username"/></div>
                                    <div class="form-group"><label class="small mb-1"
                                                                   for="inputPassword">Password</label><input
                                            name="password" class="form-control py-4" id="inputPassword" type="password"
                                            placeholder="Enter password"/></div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox"><input class="custom-control-input"
                                                                                           id="rememberPasswordCheck"
                                                                                           type="checkbox"/><label
                                                class="custom-control-label" for="rememberPasswordCheck">Remember
                                            password</label></div>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <!--                                                <a class="small" href="password.html">Forgot Password?</a>-->
                                        <button type="submit" class="btn btn-primary">Login</button></div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Epsum Labs Private Limited</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="{% static 'assets/js/jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>
