{% extends 'panel/basepanel.html' %}
{% block content %}
<main>
    <form method="post">{% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" />
    </form>
</main>
{% endblock %}